html {
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: $accent #fff;

  &.locked {
    overflow: hidden;
  }

  @media (max-width: 1700px) {
    font-size: 15px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 14px;
  }

  @include media-breakpoint-down(md) {
    font-size: 13px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Cera Pro', sans-serif;
  color: #484848;
  padding-top: rem(160px);

  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }

  @include media-breakpoint-down(md) {
    padding-top: rem(85px);
  }
}

.container {
  @include media-breakpoint-down(md) {
    padding: rem(0 20px);
  }
}

@keyframes float {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(10px);
  }
}

var {
  font-style: normal;
}
