%btn {
  font-size: rem(14px);
  padding: rem(16px 32px);
  text-decoration: none;
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    font-size: rem(13px);
  }
}

%btn-accent {
  @extend %btn;
  background-color: $accent;
  color: #fff;
}

%btn-main {
  @extend %btn;
  background-color: $main;
  color: #fff;
}

%btn-light {
  @extend %btn;
  background-color: $accent;
  color: $main;
  background: #f8f8fd;
}

%btn-rectangle {
  @extend %btn;
  border-radius: 8px;
}